urlSynthesize=
urlRecognize=
tokensUrl=

folderId=
serviceAccountId=
serviceKeyId=

key.path=
key.value=

botToken=
botUsername=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

spring.jpa.database-platform=
spring.liquibase.change-log=