yandex.urlRecognize=
yandex.tokensUrl=

yandex.folderId=
yandex.serviceAccountId=
yandex.serviceKeyId=

yandex.key.path=
yandex.key.value=

botToken=
botUsername=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

spring.jpa.database-platform=
spring.liquibase.change-log=

google.projectId=
google.jsonFileName=

recognizers=

ffmpeg.path=

witat.auth=
witat.url=

app.rating=
give.donat.url=