yandex.urlRecognize=
yandex.tokensUrl=

yandex.folderId=
yandex.serviceAccountId=
yandex.serviceKeyId=

yandex.key.path=
yandex.key.value=

botToken=
botUsername=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

spring.jpa.database-platform=
spring.liquibase.change-log=

google.projectId=
google.jsonFileName=

recognizers=

ffmpeg.path=

# will remove
witat.auth=
witat.url=

spring.jpa.properties.hibernate.session.events.log.LOG_QUERIES_SLOWER_THAN_MS=1000
spring.jpa.properties.org.hibernate.SQL_SLOW=INFO
logging.level.org.hibernate.SQL_SLOW=INFO

threads.count=16

rest.connection.timeout=
rest.read.timeout=
rest.connect.timeout=

ads.batch.size=
ads.direct.max.count.per.second=

witat=base,extra
base.witat.auth=
base.witat.url=
extra.witat.auth=
extra.witat.url=

botads.token=
botads.username=
botads.img.path=